.sidenav {
  height: 100%;
  background-color: coral;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 20px;
  width: 41%;
  position: fixed;
  top: 0;
  left: 0;
}

.btn-no-dec {
  text-decoration: none;
  color: white;
}

.btn-no-dec:hover {
  text-decoration: none;
  color: white;
}

.login-splash-image {
  width: 27%;
}

.main {
  margin-left: 42%;
  padding: 0px 10px;
}
.login-form {
  margin-top: 80%;
}

.register-form {
  margin-top: 20%;
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.btn-black {
  color: white;
  background-color: black;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.con {
  min-height: 80.9%;
}

#profile_image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user_profile_table {
  width: 100%;
}

.user_profile_table td div {
  margin-left: 50px;
}

#menu {
  right: 0;
  left: -100;
}

#com_card {
  display: inline-table;
}

#com_card div a {
  font-weight: 300;
}
