<div>
    <h1 class="user-login">User Signup</h1>
    <form id="signup-form" action="/users" method="post" role="form" enctype="multipart/form-data">
    <div class="form-group">
        <label>First Name* (Please enter with letters)
        <input type="text" id="firstName" name="firstName" placeholder="Enter your first name">
        </label>
        <br>
        </div>
        <div class="form-group">
        <label>Last Name* (Please enter with letters)
        <input type="text" id="lastName" name="lastName" placeholder="Enter your last name">
        </label>
        <br>
        </div>
        <div class="form-group">
        <label>Password* (Please enter at least 6 characters with no space)
        <input id="password" name="password" type="password" placeholder="Enter your desired password">
        </label>
        <br>
        </div>
        <div class="form-group">
        <label>Email Address* (Email according to RFC2822)
        <input type="text" id="emailAddress" name="emailAddress" placeholder="Enter your email address">
        </label>
        <br>
        </div>
        <div class="form-group">
        <label>Display Name*
        <input type="text" id="displayName" name="displayName" placeholder="Enter your desired displayName">
        </label>
        <br>
        </div>
        <div class="form-group">
        <label>Profile Image: (We will allocate a default avatar, if you choose not to upload)
            <div class="custom-file">
                <input type="file" id="profileImage" name="profileImage" value="Choose File">
            </div>
        </label>
        </div>    
        <br>
        <button type="submit" class="btn btn-secondary">Create Account</button>
    </form>

    {{#if error}}
    <p> {{this.error}}</p>
    {{/if}}

    <a href="/site/login">Already have an account? Click here to log-in</a>
</div>