<div>
    <h1 class="user-login">User Signup</h1>
    <form id="signup-form" action="/signup" method="post">
        <label>firstName: </label>
        <input id="firstName" name="firstName" placeholder="Enter firstName">
        <br>
        <label>lastName: </label>
        <input id="lastName" name="lastName" placeholder="Enter lastName">
        <br>
        <label>password: </label>
        <input id="password" name="password" type="password" placeholder="Enter password">
        <br>
        <label>emailAddress: </label>
        <input id="emailAddress" name="emailAddress" placeholder="Enter emailAddress">
        <br>
        <label>displayName: </label>
        <input id="displayName" name="displayName" placeholder="Enter displayName">
        <br>
        <button type="submit">sumbit</button>
    </form>

    {{#if error}}
    <p> {{this.error}}</p>
    {{/if}}

    <a href="/">Already have an account? Click here to log-in</a>
</div>