<div>
    <h1 class="user-login">User Signup</h1>
    <form id="signup-form" action="/users" method="post" role="form" enctype="multipart/form-data">
        <label>*firstName: 
        <input type="text" id="firstName" name="firstName" placeholder="Enter firstName">
        </label>
        <br>
        <label>*lastName: 
        <input type="text" id="lastName" name="lastName" placeholder="Enter lastName">
        </label>
        <br>
        <label>*password: 
        <input id="password" name="password" type="password" placeholder="Enter password">
        </label>
        <br>
        <label>*emailAddress: 
        <input type="text" id="emailAddress" name="emailAddress" placeholder="Enter emailAddress">
        </label>
        <br>
        <label>*displayName: 
        <input type="text" id="displayName" name="displayName" placeholder="Enter displayName">
        </label>
        <br>
        <label>ProfileImage: (We will allocate a default avatar, if you don't upload)
        <input type="file" id="profileImage" name="profileImage" value="choose file">
        </label>
        <br>
        <button type="submit" class="btn btn-secondary">submit</button>
    </form>

    {{#if error}}
    <p> {{this.error}}</p>
    {{/if}}

    <a href="/site/login">Already have an account? Click here to log-in</a>
</div>